
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$border-bottom-color: #999;

#items {
  padding-left: 0;
}

.progress {
  background-color: #555;

  .progress-label {
    display: block;
    height: 22px;
    line-height: 22px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    width: 320px;
    margin-top: -22px;
  }

  .progress-bar {
    float: none;
  }

  //div.text {
  //  margin: 0 auto;
  //  width: 50px;
  //  text-align: center;
  //}
}

li { list-style: none;}

.items-select-list {
  margin-bottom: 15px;
}

.items-list {
  padding-left: 0;

  li {
    margin-top: 15px;
    border-bottom: 1px solid $border-bottom-color;
  }
}

.item-main {
  line-height: 32px;
  font-size: 20px;

  .action-item, .title {
    cursor: pointer;
  }

  .title {
    margin-left: 15px;
  }
}

.list-item{

  .glyphicon {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
    border-bottom: 1px solid $border-bottom-color;
  }

  .item-edit {
    position: relative;
    padding-top: 20px;

    .delete {
      position: absolute;
      top: -10px;
      right: 10px;
      cursor: pointer;
    }
  }
}

.buttons {
  padding-top: 20px;

  .btn:not(:first-child) {
    margin-right: 15px;
  }
}


